/* Estilo do texto do comentário */
.Comentario {
    background-color: #eee;
	margin-bottom: 2rem;
    border: 1px solid black;
    color: #333;
    border-radius: 6px;
	font-size: 1rem;
	line-height: 1.5;
    padding-left: 1rem;
    box-shadow: 0 10px 25px -2 0px black;

}
.imagem{
    max-width: 100px;
}